<!DOCTYPE html>
<html>

<head>
{% include 'header.html' %}
</head>

<body>



<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">okd</h1>
      <p class="lead">Simple Python Flask Application to be deployed with minimal effort</p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Python</h4>
      </div>
      <div class="card-body">
        <h2 class="card-title pricing-card-title">Python Flask</h2>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Minimalistische Python Applikation</li>
          <li>REST-ful request dispatching</li>
        </ul>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">the counter</h4>
      </div>
      <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
              <li>Hello World! I have been seen...</li>
          </ul>
        <h1 class="card-title pricing-card-title">{{ count }}</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>times. </li>
          <li>The number is in Redis and persistent. </li>
          <li>(d.h. die Nummer überlebt auch einen Pod-Restart das Redis-Caches.)</li>
        </ul>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Redis</h4>
      </div>
      <div class="card-body">
        <h2 class="card-title pricing-card-title">Redis</h2>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Der Redis Cache ist persistent auf einem Persistence-Claim. </li>
          <li>Diese Applikation ist unser Demo-Case. </li>
        </ul>
      </div>
    </div>
  </div>	

	{% include 'footer.html' %}
</div>
</body>
</html>