<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="https://www.schumm.ch/favicon.ico"  height="25" alt="Schumm">
    </a>
    <div>
    <a class="navbar-brand  my-2 my-lg-0" href="https://www.python.org//">
        <img src="https://www.python.org/static/img/python-logo.png"  height="30" alt="Python">
    </a>
    <a class="navbar-brand my-2 my-lg-0" href="http://redis.io/">
        <img src="https://redis.io/images/redis-white.png"  height="30" alt="Redis Cache">
    </a>
    </div>
  </nav>